{% extends 'main/service/service_main.html' %}

{% block title %}Часто задаваемые вопросы{% endblock %}

{% block service_content %}
    <div class="questions container">
        <h1 class="text-center">Часто задаваемые вопросы</h1>
        <div class="accordion" id="accordionFlushExample">
            {% for question in questions %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="aria-{{ question_id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#item-{{ question.id }}" aria-expanded="false"
                                aria-controls="item-{{ question.id }}">
                            {{ question.title }}
                        </button>
                    </h2>
                    <div id="item-{{ question.id }}" class="accordion-collapse collapse"
                         aria-labelledby="aria-{{ question.id }}"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">{{ question.answer |safe}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}